//==================================================================================
//
//  Github search form
//
//==================================================================================
.github-form {
  display: flex;
  flex-wrap: wrap;
}

.github-form__label {
  font-weight: bold;
  margin-top: 1rem;
}

.github-form__label,
.github-form__input,
.github-form__button,
.github-form__select {
  min-width: 100%;
}

.github-form__select {
  padding: 0.5rem;
}

//==========================================================================================
//  Modifiers
//==========================================================================================

//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq($from: screen768) {
  .github-form__label,
  .github-form__input,
  .github-form__select {
    min-width: 50%;
    margin: 1rem 0;
  }

  .github-form {
    max-width: 600px;
    // margin-left: auto;
    // margin-right: auto;
  }
}
