//==================================================================================
//
//  Links list styles
//
//==================================================================================
.links-list {
  list-style: none;
  padding: 0;
}

.links-list__item {
  display: inline-block;
  margin-right: 1rem;
}

//==========================================================================================
//  Modifiers
//==========================================================================================

//==========================================================================================
//  Media Queries
//==========================================================================================
