---
layout: theme.hbs
title: About
---

<h1>About</h1>
<p>A test of the <a href="https://developer.github.com/v3/search/" target="_blank" rel="noopener noreferrer">Github Search API</a>.</p>

<p><strong>Please see the Readme in the project root for full details.</strong></p>

<hr/>

<h3>About the search API</h3>

<p>The Search API is optimized to help you find the specific item you're looking
    for (e.g., a specific user, a specific file in a repository, etc.). Think of it
    the way you think of performing a search on Google. It's designed to help you
    find the one result you're looking for (or maybe the few results you're looking
    for). Just like searching on Google, you sometimes want to see a few pages of
    search results so that you can find the item that best meets your needs. To
    satisfy that need, the GitHub Search API
    provides <strong>up to 1,000 results for each search</strong>.</p>

<h3>Ranking search results</h3>

<p>Unless another sort option is provided as a query parameter, results are sorted
    by best match, as indicated by the <code>score</code> field for each item returned. This
    is a computed value representing the relevance of an item relative to the other
    items in the result set. Multiple factors are combined to boost the most
    relevant item to the top of the result list.</p>

<h3>Rate limit</h3>

<p>The Search API has a custom rate limit. For requests using <a href="https://developer.github.com/v3/#authentication">Basic
        Authentication</a>, <a href="https://developer.github.com/v3/#authentication">OAuth</a>, or <a href="https://developer.github.com/v3/#increasing-the-unauthenticated-rate-limit-for-oauth-applications">client
        ID and secret</a>, you can make up to
    30 requests per minute. For unauthenticated requests, the rate limit allows you
    to make up to 10 requests per minute.</p>

<p>See the <a href="https://developer.github.com/v3/#rate-limiting">rate limit documentation</a> for details on
    determining your current rate limit status.</p>