//==================================================================================
//
//  Button styles
//  Can be applied to anchors (for navigation) or button elemtns (for on-page actions)
//
//==================================================================================
.button {
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
  border: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: $color-blue;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-blue--dark;
  }
}

//==========================================================================================
//  Modifiers
//==========================================================================================

//==========================================================================================
//  Media Queries
//==========================================================================================
