/* Generic mixins
   ==================== */

/**
 * A set of commonly used mixins that can be reused in most projects
 * This file shouldn't change. Any new mixins should be added to project specific mixins.
 */

/**
* Name: Visually Hidden
Visually hide elements accessibly

* Usage
<button class="mobile-navigation-trigger">
  <b class="visually-hidden">Open the navigation</b>
  <img src="img/mobile-navigation-icon.png">
</button>

.visually-hidden {
    @include visuallyhidden();
}
*/
@mixin visuallyhidden() {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
