<aside class="auth-details">
    <div class="auth-details--dependant" data-token-dependant>
        <h4 data-token-dependant>
            You have a token and so can make the full range of requests 😊
        </h4>
    </div>

    <div <div class="auth-details--independant" data-token-independant>
        <h4>
            You do not have a token and so can not make the full range of requests 🤔
        </h4>

        <p>A user access token can be generated from <a href="https://github.com/settings/tokens/new" target="_blank"
                rel="noopener noreferrer">Github's token page.</a></p>
        <p>For the purpose of this demo - any string can be entered after pressing the button below, to allow the full
            range of requests.</p>


        {{> button
        modifiers = "button--mod"
        functionality = "auth"
        href="#boot"
        text="Add your token"
        }}

    </div>
</aside>