<form class="github-form" action="/api-form-no-js-submit-page">

    <label class="github-form__label" for="github-form-search">Search terms</label>
    <input class="github-form__input" type="text" placeholder="Your search terms..." id="github-form-search" name="search-terms"></input>

    <label class="github-form__label" for="github-form-search-type">Search type</label>
    <select class="github-form__select github-form__search-type" id="github-form-search-type" name="search-type">
        {{!-- Start with search methods that require validation as disabled --}}
        {{!-- If the querystring contains a token parameter, these will be enabled --}}
        <option class="github-form__search-option" value="repositories" label="repositories" disabled
            data-auth-required />
        <option class="github-form__search-option" value="commits" label="commits" disabled data-auth-required />
        <option class="github-form__search-option" value="code" label="React codebase" disabled data-auth-required />
        <option class="github-form__search-option" value="issues" label="issues" />
        <option class="github-form__search-option" value="users" label="users" selected />
        <!-- 
        Commented out for now. Topic & Label search must include a specific request header.
        <option class="github-form__search-option" value="topics" label="topics" />
        <option class="github-form__search-option" value="labels" label="labels" />
        -->
    </select>
    <button type="submit" class="button github-form__button">Search</button>
</form>

<ul class="results-container"></ul>