<header>
    <h1>Github search api tests</h1>

    <nav>
        <ul class="links-list">
            <li class="links-list__item"><a href="/">Home</a></li>
            <li class="links-list__item"><a href="about.html">About</a></li>
        </ul>
    </nav>

</header>