﻿//==========================================================================================
//  Base styles
//==========================================================================================
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $color-grey-light;
  color: $color-black;
}

img,
iframe {
  max-width: 100%;
}

// Visually hidden elements,
// which are also marked as hidden for screen readers -
[aria-hidden="true"] {
  display: none;
}

// Disabled options select boxes, are hidden -
option[disabled] {
  display: none;
}

// Sticky footer -
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
  padding: 1rem 2.5rem;
}

.results-container {
  list-style: none;
  padding: 0;
}

hr {
  margin: 2rem 0;
}
