﻿/* Base Typography
   ==================== */

html {
  // html is set to 62.5% so that all the REM measurements throughout the site are based on 10px sizing. 1.6rem = 16px
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: $font-secondary;
}

// Target all heading elements,
// Also allow targetting from a class,
// to allow the semantic element to differ from the style displayed
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // Set the font  -
  font-family: $font-primary;
  // Reset heading margins -
  margin: 0 0 0.25em 0;
}

a {
  font-weight: bold;
  color: $color-pink;

  &:focus,
  &:hover {
    color: $color-pink--light;
  }
}
