﻿//==========================================================================================
//  Debug mode - Show the MQ helper
//==========================================================================================
$debug: true;

//==========================================================================================
//  Media Queries -* SASS MQ library is used - http://sass-mq.github.io/sass-mq
//==========================================================================================

$mq-breakpoints: (
  screen480: 480px,
  screen600: 600px,
  screen768: 768px,
  screen1000: 1000px,
  screen1200: 1200px,
  screen1400: 1400px
);

$mq-show-breakpoints: (
  screen480,
  screen600,
  screen768,
  screen1000,
  screen1200,
  screen1400
);

// ==========================================================================================
// Environment variables
// ==========================================================================================
/* Variable for CSS image folder */
$image-url: "/images";
// ==========================================================================================
// Project variables
// ==========================================================================================
$font-primary: "Franklin Gothic Medium", "Franklin Gothic",
  "ITC Franklin Gothic", Arial, sans-serif;
$font-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;
// ==========================================================================================
// Colour variables - Pallete from - https://coolors.co/0a2463-3e92cc-fffaff-d8315b-1e1b18
// ==========================================================================================
$color-blue: #3e92cc;
$color-blue--dark: #0a2463;
$color-grey: #97a0a4;
$color-grey-light: #eaeced;
$color-pink: #d8315b;
$color-pink--light: hotpink;
$color-black: #1e1b18;
$color-white: #fffaff;
