//==================================================================================
//
//  Auth details
//
//==================================================================================
.auth-details {
  border-radius: 20px;
  border: 2px solid $color-black;
  margin: 2rem 0 3rem;
  padding: 2rem;

  max-width: 600px;
  // margin-left: auto;
  // margin-right: auto;
}

//==========================================================================================
//  Modifiers
//==========================================================================================

//==========================================================================================
//  Media Queries
//==========================================================================================
