<!DOCTYPE html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Github API Test - {{{title}}}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link href="/assets/css/app.css" rel="stylesheet" type="text/css" />
</head>

<body>

	{{> header}}

	<main>
		{% body %}
	</main>

	{{> footer}}

	<script src="/assets/js/app.js"></script>
</body>

</html>