//==================================================================================
//
//  Footer styles
//
//==================================================================================
footer {
  background-color: $color-black;
  color: $color-white;
  padding: 1rem 2.5rem;
}

//==========================================================================================
//  Modifiers
//==========================================================================================

//==========================================================================================
//  Media Queries
//==========================================================================================
